<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FaceTree Floor</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
        integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://bootswatch.com/5/darkly/bootstrap.min.css" />
</head>

<body>
    <div class="row mt-5">
        <div class="col-md-6 m-auto">
            <div class="card card-body">
                <h1 class="text-center mb-3"><i class="fas fa-sign-in-alt"></i> User name db</h1>
                <div id="banner">
                    <img class="col-12" src="https://picsum.photos/seed/picsum/1000/100" alt="Banner image">
                    <button class="btn btn-outline-success">
                        <a href="/users/logout">Logout</a>
                    </button>
                    <button class="btn btn-outline-success">
                        <a href="/hall">Hall</a>
                    </button>
                </div>
                <div id="avatar">
                    <img src="https://picsum.photos/50" alt="User Photo">
                </div>
                <h3>
                    Username
                </h3>

                <form action="/floor/editpost" method="POST" id="postform">
                    <input type="text" name="title" class="form-control" id="title" placeholder="Title" required>
                    <input type="text" name="content" class="form-control" id="content" placeholder="Content" required>
                    <input type="url" name="img" class="form-control" id="imgurl" placeholder="Image">
                    <button type="Submit" class="btn btn-outline-primary" id="submitbtn">Edit</button>
                    <a href="/floor" class="cancel">Cancel</a>
                </form>
                <hr>

                <%dbposts.forEach(post=> {%>
                    <div class="myposts">
                        <div class="card border-primary mb-3" style="max-width: 60rem;">
                            <div class="row">
                                <div class="col-3">
                                    <img class="col-12" src="<%= post.img %>" alt="" id="postimg">
                                </div>
                                <div class="col-9">
                                    <div class="card-body">
                                        <h5 id="post title" class="card-header">
                                            <%= post.title %>
                                        </h5>

                                        <p class="card-text">
                                            <%= post.content %>
                                        </p>
                                        <div id="postdate">
                                            <%= post.date %>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <%})%>

                        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
                            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
                            crossorigin="anonymous"></script>
                        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
                            integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
                            crossorigin="anonymous"></script>
                        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
                            integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
                            crossorigin="anonymous"></script>
                        <script src="/static/assets/js/login.js"></script>
                        <script src="/static/assets/js/floor.js"></script>
</body>

</html>